
a:hover{
    background-color: silver;
    color: purple;
}
a:active{
    background-color: silver;
    color: purple;
}
.menuRoute{
    padding: 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    background-color: purple;
    color: white;
}